body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

hr {
    margin: 25px 0;
}

/* header start */

/* headOffer */
#title {
    display: none;
    text-align: center;
}

#title > h2 {
    margin: 5px;
}

#headOffer {
    display: flex;
    padding: 0 7%;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(197, 185, 223);
}

#headOffer>img {
    height: 60px;
    width: 40%;
}

#headOffer>a {
    color: black;
    font-size: 14px;
    text-decoration: none;
    font-weight: bolder;
}

#headOffer>a>span {
    font-weight: lighter;
}

#headOffer>a:hover {
    text-decoration: underline;
}

/* headOffer */

/* headseach */
#headSearch {
    display: flex;
    padding: 15px 7%;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}

#headSearch> :nth-child(2) button {
    background-color: white;
    border-color: white;
    border-radius: 5px;
    margin-left: 15px;
}

#headSearch>div:nth-child(2)>input {
    border-radius: 25px;
    padding: 10px;
    width: 400px;
}

#headSearch a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#headSearch a:hover {
    text-decoration: underline;
}

#userName {
    display: flex;
    align-items: center;
}

#userName img {
    width: 30px;
    height: 30px;
}

#signIn button,
#signIn a {
    color: ;
}

#userName1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

#userName1 img {
    width: 30px;
    height: 30px;
}

/* headseach */

/* navBar */
#navBar {
    padding: 10px 7%;
    background-color: black;
}

#nav-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

#nav-list li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin: 0 5px;
}

#navBar>.prev,
#navBar>.next {
    display: none;
}

#nav-list li a:hover {
    text-decoration: underline;
}

.bottom-nav{
    display: none;
}


.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* height: 50px; */
    background-color: #000000;
    color: white;
    text-align: center;
}

.bottom-nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bottom-nav li {
    display: inline;
    /* or inline-block for more control */
}

.bottom-nav a {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

.bottom-nav a:hover {
    background-color: #555;
}

/* navBar */

/* header end */

/* containt section start  */


/* topSlider */
.topSlider {
    flex-grow: 1;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    gap: 5px;
    /* width: 100%;  */
}

.topSlider::-webkit-scrollbar {
    /* Hide scrollbar */
    display: none;
}

.topSlider>div {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* margin-right: 20px; */
}

.topSlider>div>div {
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

.topSlider>div:nth-child(1) div {
    background-color: #944E4E;
    padding: 21px;
}

.topSlider>div:nth-child(2) div {
    background-color: #000000;
    padding: 21px;
}

.topSlider>div:nth-child(3) div {
    background-color: #8A3053;
    padding: 21px;
}

.topSlider>div:nth-child(4) div {
    background-color: #000000;
    padding: 21px;
}

.topSlider>div:nth-child(5) div {
    background-color: #DCADA3;
    padding: 21px;
}

.topSlider>div:nth-child(6) div {
    background-color: #944E4E;
    padding: 21px;
}

.topSlider>div:nth-child(-n+4) div h3,
.topSlider>div:nth-child(-n+4) div p,
.topSlider>div:nth-child(-n+4) div h4,
.topSlider>div:nth-child(6) div h3,
.topSlider>div:nth-child(6) div p,
.topSlider>div:nth-child(6) div h4 {
    color: white;
}

.topSlider>div:nth-child(-n+6) div h3,
.topSlider>div:nth-child(-n+6) div p,
.topSlider>div:nth-child(-n+6) div h4 {
    margin: 0;
}

.topSlider>div:nth-child(-n+6) div p {
    padding: 3px 0 10px 0;
}

/* topSlider */


/* buttons */
.buttons {
    flex-direction: column;
    display: flex;
    /* align-items: center;  */
    justify-content: center;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    margin-bottom: auto;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
    /* Safari */
    user-select: none;

}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* buttons */


/* topSlider1*/

/* hidebuttons */
.topsliderParent .prev,
.topsliderParent .next {
    display: none;
}

/* hidebuttons */


.topSlider1 {
    flex-grow: 1;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    gap: 5px;
    /* width: 100%;  */
}

.topSlider1::-webkit-scrollbar {
    /* Hide scrollbar */
    display: none;
}

.topSlider1>div {
    flex: 0 0 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* margin-right: 20px; */
}

.topSlider1>div>div {
    width: 100%;
}

.topSlider1>div:nth-child(1) div {
    background-color: #A2A5C8;
    padding: 21px;
}

.topSlider1>div:nth-child(2) div {
    background-color: #F6E8CE;
    padding: 21px;
}

.topSlider1>div:nth-child(3) div {
    background-color: #DFAEB1;
    padding: 21px;
}

.topSlider1>div:nth-child(-n+6) div h3,
.topSlider1>div:nth-child(-n+6) div p,
.topSlider1>div:nth-child(-n+6) div h4 {
    margin: 0;
}

.topSlider1>div:nth-child(-n+6) div p {
    padding: 3px 0 10px 0;
    font-size: 15px;
}

/* topSlider1*/


/* topSlider2*/

.topSlider2 {
    flex-grow: 1;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    gap: 5px;
    /* width: 100%;  */
}

.topSlider2::-webkit-scrollbar {
    /* Hide scrollbar */
    display: none;
}

.topSlider2>div {
    flex: 0 0 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* margin-right: 20px; */
}

.topSlider2>div>div {
    width: 100%;
}

.topSlider2>div:nth-child(1) div {
    background-color: #97B9AB;
    padding: 21px;
}

.topSlider2>div:nth-child(2) div {
    background-color: #D2E4F5;
    padding: 21px;
}

.topSlider2>div:nth-child(3) div {
    background-color: #BDDCEE;
    padding: 21px;
}

.topSlider2>div:nth-child(-n+6) div h3,
.topSlider2>div:nth-child(-n+6) div p,
.topSlider2>div:nth-child(-n+6) div h4 {
    margin: 0;
}

.topSlider2>div:nth-child(-n+6) div p {
    padding: 3px 0 10px 0;
    font-size: 15px;

}

/* topSlider2*/


/* productSlider class*/

#productsBody {
    margin: 50px 7%;
}

.productSlider {
    flex-grow: 1;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    /* gap: 10px; */
    /* width: 100%;  */
}

.productSlider::-webkit-scrollbar {
    /* Hide scrollbar */
    display: none;
}

.productSlider>div {
    flex: 0 0 calc(100% /6);
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 7px;
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 7px;
    padding: 16px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.productSlider>div:hover {
    margin-bottom: 14px;
    margin-top: 0;

}

.productSlider>div:nth-child(-n+10) div h5,
.productSlider>div:nth-child(-n+10) div p,
.productSlider>div:nth-child(-n+10) div h4 {
    margin: 0;
}

.productSlider>div:nth-child(-n+6) div p {
    padding: 3px 0 10px 0;
    font-size: 14px;
}

.productSlider>div>div {
    width: 100%;
}

/* productSlider class*/


/* buttons1 */

.prev1,
.next1 {
    cursor: pointer;
    position: absolute;
    margin-bottom: auto;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
    /* Safari */
    user-select: none;

}

.next1 {
    right: 7%;
    border-radius: 3px 0 0 3px;
}

.prev1:hover,
.next1:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* buttons1 */

/* Beuty offers */

.productOffers {
    flex-grow: 1;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    /* gap: 10px; */
    /* width: 100%;  */
}

.productOffers::-webkit-scrollbar {
    /* Hide scrollbar */
    display: none;
}

.productOffers>div {
    flex: 0 0 calc(100% /5);
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 7px 5px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.productOffers>div:hover {
    margin-top: 0;
    margin-bottom: 14px;
}

.productOffers>div>div {
    width: 100%;
    padding: 16px;

}

.productOffers>div:nth-child(-n+12) div h4,
.productOffers>div:nth-child(-n+12) div p {
    margin: 0;
}

.productOffers div p:nth-of-type(1) {
    padding: 3px 0 6px 0;
    font-size: 14px;
}

.productOffers div p:nth-of-type(2),
.productOffers div p:nth-of-type(3) {
    padding: 3px 0 6px 0;

    font-size: 12px;
}

.productOffers>div:nth-child(-n+12) div button {
    border-radius: 20px;
    padding: 5px 15px;
    border: 2px solid black;
    background-color: white;
}

/* Beuty offers */


/* Beauty Insider */

.productReward {
    flex-grow: 1;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    /* gap: 10px; */
    /* width: 100%;  */
}

.productReward::-webkit-scrollbar {
    /* Hide scrollbar */
    display: none;
}

.productReward>div {
    flex: 0 0 calc(100% /6);
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 7px;
    padding: 16px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.productReward>div:hover {
    margin-top: 0;
    margin-bottom: 14px;
}

.productReward>div>div {
    width: 100%;
    padding: 16px;

}

.productReward>div:nth-child(-n+10) div h5,
.productReward>div:nth-child(-n+10) div p,
.productReward>div:nth-child(-n+10) div h4 {
    margin: 0;
}

.productReward>div:nth-child(-n+10) div p {
    margin: 3px 0 7px 0;
    font-size: 14px;
}

.productReward>div:nth-child(-n+10) div button {
    font-size: 12px;
}

.productReward>div:nth-child(-n+12) div button {
    border-radius: 20px;
    padding: 5px 15px;
    border: 2px solid black;
    background-color: white;
}

/* Beauty Insider */


/* featured categories & little gudence*/

.boxes {
    flex-grow: 1;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    /* gap: 10px; */
    /* width: 100%;  */
}

.boxes::-webkit-scrollbar {
    /* Hide scrollbar */
    display: none;
}

.boxes>div {
    flex: 0 0 100px;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 7px 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.boxes>div:hover {
    margin-top: 0;
    margin-bottom: 14px;
}

.boxes>div p {
    margin: 5px 0;
    font-size: 14px;
}

.boxes>div img {
    width: 50px;
    margin: 20px 0 0 40px;
}

#boxesparent>.prev1 {
    margin-left: 270px;
}

.productBoxes1>div:nth-child(2) {
    margin-left: 130px;
}

.productBoxes2>div:nth-child(2) {
    margin-left: 65px;
}

#boxesparent>h3,
#boxesparent>p {
    display: none;
    margin: 8px 0 8px 0;
}

#boxesparent>p a {
    text-decoration: none;
    color: blue;
}

#boxesparent>p {
    font-size: 13px;
}

#boxesparent a:hover {
    text-decoration: underline;
}

#boxesparent>p {
    font-size: 13;
}

#boxesparent a:hover {
    text-decoration: underline;
}

.boxCatagoris>h3,
.boxCatagoris>p {
    margin: 8px 0 8px 0;

}

.boxCatagoris>p {
    font-size: 13px;
}

.boxCatagoris>p a {
    text-decoration: none;
    color: blue;
}

.boxCatagoris a:hover {
    text-decoration: underline;
}



/* featured categories & little gudence*/

/* paras */

#para1 {
    text-align: center;
    font-size: 14px;
}

#para1>a {
    color: black;
    font-weight: bolder;
}

#para2 {
    background-color: #cccccc;
    text-align: center;

}

#para2>p {
    margin: 0;
    padding: 16px;
}

#para2>p a {
    text-decoration: none;
    color: #000000;

}


#para2>p a:hover {
    text-decoration: underline;
}

/* paras */



/* containt section end  */





/* footer section start */

#footerMain {
    color: white;
    background-color: #000000;
    padding: 50px 7%;
}

/* footerMain1 */
#footerMain1 {
    display: flex;
    justify-content: space-evenly;
}

#footerMain1>div {
    display: flex;
    padding: 10px;
}

#footerMain1>div>div img {
    width: 30px;
}

#footerMain1>div>div p {
    margin: 1px 5px;
    font-size: 12px;
}

#footerMain1>div>div p>a {
    text-decoration: none;
    color: white;
}

#footerMain1>div>div p>a:hover {
    text-decoration: underline;
}

/* footerMain1 */


/* footerMain2 */

#footerMain2 {
    display: flex;
    justify-content: space-evenly;
}

#footerMain2>div {
    padding: 10px;
}

#footerMain2>div>h4 {
    font-size: 14px;
    margin: 8px;
}

#footerMain2>div>p {
    margin: 8px;
}

#footerMain2>div a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

#footerMain2>div:nth-child(4) img {
    padding: 10px;
    width: 30px;

}

#footerMain2>div:nth-child(4)>div {
    display: flex;
}

#footerMain2>div:nth-child(4) p {
    margin: 8px 0;
}

#footerMain2>div:nth-child(5) h2 {
    margin: 0 0 130px 0;
}

#footerMain2>div:nth-child(5) label {
    font-size: 14px;
}

#footerMain2>div:nth-child(5) input {
    margin: 15px 15px 30px 0;
    padding: 15px;
    width: 58%;
    border-radius: 10px;
}

#footerMain2>div:nth-child(5) button {
    padding: 15px 25px;
    border-radius: 50px;
    color: white;
    background-color: #000000;
    border: 2px solid white;
    font-weight: bolder;
    font-size: 16px;
}

/* footerMain2 */


/* footerMain3 */

#footerMain3 {
    display: flex;
    justify-content: space-between;
}

#footerMain3>div>p img {
    width: 30px;
}

#footerMain3>div>p {
    margin: 8px;
    font-size: 12px;
}

#footerMain3>div>p a {
    text-decoration: none;
    color: white;

}

#footerMain3>div>p a:hover {
    text-decoration: underline;
}

#footerMain3>div:nth-child(2) {
    display: flex;
    align-items: center;
}

#footerMain3>div:nth-child(2) img {
    width: 30px;
    margin: 0 10px;
    height: 30px;
}


/* footer section end */


/* media query */

@media all and (max-width:1080px) and (min-width:720px) {

    /* head nav */
    #headOffer {
        padding: 0 10px;
    }

    #headSearch {
        padding: 15px 10px;
    }

    #headSearch>div:nth-child(2)>input {

        width: 300px;
    }

    #headSearch>div:nth-child(3),
    #headSearch>div:nth-child(4),
    #headSearch>div:nth-child(5),
    #headSearch>div:nth-child(6),
    #headSearch>div:nth-child(7){
        display: none;
    }

    .bottom-nav{
        display: block;
    }


    #navBar {
        padding: 10px 10px;
        background-color: white;

    }

    #nav-list li {
        border: 2px solid black;
        border-radius: 10px;
        padding: 7px 15px;
    }

    #nav-list li a {
        color: black;
    }

    #navBar>.prev,
    #navBar>.next {
        display: block;
    }

    #nav-list {
        flex-grow: 1;
        overflow-x: auto;
        white-space: nowrap;
        display: flex;
        gap: 5px;
        /* width: 100%;  */
    }

    #nav-list::-webkit-scrollbar {
        /* Hide scrollbar */
        display: none;
    }

    /* head nav */


    /* content */

    #productsBody {
        margin: 15px;
    }

    .topSlider>div {
        flex: 0 0 calc(100% /2);
    }

    .topsliderParent .prev,
    .topsliderParent .next {
        display: block;
    }

    .topSlider1>div,
    .topSlider2>div {
        flex: 0 0 calc(100% /2);

    }

    .productSlider>div,
    .productReward>div {
        flex: 0 0 calc(100% /4);
    }

    .productOffers>div {
        flex: 0 0 calc(100% /3);
    }

    .next1 {
        right: 15px;
        border-radius: 3px 0 0 3px;
    }

    #boxesparent>h3,
    #boxesparent>p {
        display: block;
        margin: 8px 0 8px 0;
    }

    .boxes>div {
        flex: 0 0 calc(100% /6);
    }

    .boxes div:nth-child(1) {
        display: none;
    }

    .productBoxes1>div:nth-child(2) {
        margin-left: 0;
    }

    .productBoxes2>div:nth-child(2) {
        margin-left: 0;
    }

    #boxesparent>.prev1 {
        margin-left: 0;
    }

    /* content */

    #footerMain1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #footerMain2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #footerMain2>div:nth-child(5) h2 {
        margin: 0;
    }

    #footerMain2>div:nth-child(5) input {
        margin: 7px;
        padding: 7px;
    }

    #footerMain2>div:nth-child(5) button {
        padding: 7px 15px;
        font-size: 14px;
    }



}

@media all and (max-width:720px) and (min-width:481px) {

    /* head nav */
    #headOffer {
        padding: 0 10px;
    }

    #headOffer img {
        content: url("Images/ad2.avif");
    }

    #headSearch {
        padding: 15px 10px;
    }

    #headSearch>div:nth-child(2)>input {

        width: auto;
    }

    #headSearch>div:nth-child(3),
    #headSearch>div:nth-child(4),
    #headSearch>div:nth-child(5),
    #headSearch>div:nth-child(6),
    #headSearch>div:nth-child(7){
        display: none;
    }

    .bottom-nav{
        display: block;
    }

    #navBar {
        padding: 10px 10px;
        background-color: white;

    }

    #nav-list li {
        border: 2px solid black;
        border-radius: 10px;
        padding: 7px 15px;
    }

    #nav-list li a {
        color: black;
    }

    #navBar>.prev,
    #navBar>.next {
        display: block;
    }

    #nav-list {
        flex-grow: 1;
        overflow-x: auto;
        white-space: nowrap;
        display: flex;
        gap: 5px;
        /* width: 100%;  */
    }

    #nav-list::-webkit-scrollbar {
        /* Hide scrollbar */
        display: none;
    }

    /* head nav */


    /* content */

    #productsBody {
        margin: 15px;
    }

    .topSlider>div {
        flex: 0 0 calc(100% /2);
    }

    .topsliderParent .prev,
    .topsliderParent .next {
        display: block;
    }

    .topSlider1>div,
    .topSlider2>div {
        flex: 0 0 calc(100% /2);

    }

    .productSlider>div,
    .productReward>div {
        flex: 0 0 calc(100% /3);
    }

    .productOffers>div {
        flex: 0 0 calc(100% /2);
    }

    .next1 {
        right: 15px;
        border-radius: 3px 0 0 3px;
    }

    #boxesparent>h3,
    #boxesparent>p {
        display: block;
        margin: 8px 0 8px 0;
    }

    .boxes>div {
        flex: 0 0 calc(100% /4);
    }

    .boxes div:nth-child(1) {
        display: none;
    }

    .productBoxes1>div:nth-child(2) {
        margin-left: 0;
    }

    .productBoxes2>div:nth-child(2) {
        margin-left: 0;
    }

    #boxesparent>.prev1 {
        margin-left: 0;
    }

    /* content */

    /* footer */
    #footerMain1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #footerMain2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #footerMain2>div:nth-child(5) h2 {
        margin: 0;
    }

    #footerMain2>div:nth-child(5) input {
        margin: 7px;
        padding: 7px;
    }

    #footerMain2>div:nth-child(5) button {
        padding: 7px 15px;
        font-size: 14px;
    }

    #footerMain3 {
        display: block;
        justify-content: space-between;
    }

    /* footer */

}

@media all and (max-width:480px) and (min-width:120px) {

    /* head nav */
    #headOffer {
        padding: 0 10px;
    }

    #headOffer img {
        content: url("Images/ad2.avif");
    }

    #headSearch {
        padding: 15px 10px;
    }

    #headSearch>div:nth-child(2) {
        width: 100%;
    }

    #headSearch>div:nth-child(2)>input {

        width: 80%;
    }

    #title {
        display: block;
    }

    #headSearch>div:nth-child(1){
        display: none;
    }

    #headSearch>div:nth-child(3),
    #headSearch>div:nth-child(4),
    #headSearch>div:nth-child(5),
    #headSearch>div:nth-child(6),
    #headSearch>div:nth-child(7){
        display: none;
    }

    .bottom-nav{
        display: block;
    }

    #navBar {
        padding: 10px 10px;
        background-color: white;

    }

    #nav-list li {
        border: 2px solid black;
        border-radius: 10px;
        padding: 7px 15px;
    }

    #nav-list li a {
        color: black;
    }

    #navBar>.prev,
    #navBar>.next {
        display: block;
    }

    #nav-list {
        flex-grow: 1;
        overflow-x: auto;
        white-space: nowrap;
        display: flex;
        gap: 5px;
        /* width: 100%;  */
    }

    #nav-list::-webkit-scrollbar {
        /* Hide scrollbar */
        display: none;
    }

    /* head nav */


    /* content */

    #productsBody {
        margin: 15px;
    }

    .topSlider>div {
        flex: 0 0 calc(100% /1);
    }

    .topsliderParent .prev,
    .topsliderParent .next {
        display: block;
    }

    .topSlider1>div,
    .topSlider2>div {
        flex: 0 0 calc(100% /1);

    }

    .productSlider>div,
    .productReward>div {
        flex: 0 0 calc(100% /1);
    }

    .productOffers>div {
        flex: 0 0 calc(100% /1);
    }

    .next1 {
        right: 15px;
        border-radius: 3px 0 0 3px;
    }

    #boxesparent>h3,
    #boxesparent>p {
        display: block;
        margin: 8px 0 8px 0;
    }

    .boxes>div {
        flex: 0 0 calc(100% /2);
    }

    .boxes div:nth-child(1) {
        display: none;
    }

    .productBoxes1>div:nth-child(2) {
        margin-left: 0;
    }

    .productBoxes2>div:nth-child(2) {
        margin-left: 0;
    }

    #boxesparent>.prev1 {
        margin-left: 0;
    }

    /* content */

    /* footer */
    #footerMain1 {
        display: block;
        /* grid-template-columns: repeat(3, 1fr); */
    }

    #footerMain2 {
        display: block;
        /* grid-template-columns: repeat(3, 1fr); */
    }

    #footerMain2>div:nth-child(5) h2 {
        margin: 0;
    }

    #footerMain2>div:nth-child(5) input {
        margin: 7px;
        padding: 7px;
    }

    #footerMain2>div:nth-child(5) button {
        padding: 7px 15px;
        font-size: 14px;
    }

    #footerMain3 {
        display: block;
        justify-content: space-between;
    }

    #footerMain3>div:nth-child(2) {
        display: block;
        align-items: center;
    }

    #footerMain3>div:nth-child(2) img {
        width: 30px;
        margin: 0 10px;
        height: 30px;
    }

    /* footer */

}